.content {
  width: 830px;
  margin: 0 0 92px 148px;
}

.content__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 27px;
}

.content__quote {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 27px;
}

.content__author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin: 0 0 27px;
}

.content__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 0 0 75px 24px;
    width: 93.7%;
  }
  .content__title {
    font-size: 281.25%;
    margin: 0 0 25px;
  }
  .content__quote {
    margin: 0 0 25px;
  }
  .content__author {
    margin: 0 0 25px;
  }
}

@media screen and (max-width: 544px) {
  .content {
    margin: 0 0 55px 16px;
    width: 90%;
  }
  .content__title {
    font-size: 200%;
    margin: 0 0 27px;
    line-height: 35px;
  }
  .content__quote {
    margin: 0 0 27px;
    line-height: 30px;
  }
  .content__author {
    margin: 0 0 27px;
  }
}
