.photo-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  max-width: 1184px;
}

.photo-grid__item {
  width: 95%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    margin-left: 24px;
    margin-top: 64px;
    display: grid;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    margin-left: 16px;
    margin-top: 38px;
    display: grid;
    row-gap: 12px;
  }
}
